.contact{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)),url(../images/italy.jpg) no-repeat top center fixed;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
    background-position: 10%;
    color:white
}
.contact h2{
    font-size: 43px;
    font-weight: 900;
    letter-spacing: 4px;
}
.contact a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.contact  a:hover{
    color: #ffa801;
}
.content-contact {
    padding: 66px 0;
}
.content-contact h2{
    color: #FFA801;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 2px;
}
.content-contact .question{
    color: #082740;
    font-family: "Barlow Condensed",Sans-serif;
    font-size: 42px;
    font-weight: 600;

}
.content-contact input, textarea{
    width: 49%;
    height: 74px;
    border: none;
    outline: none;
    background-color: #eceeef;
    font-size: 15px;
    font-weight: 700;
    color: #9ca3a9;
    padding-left: 30px;
    margin-bottom: 5px;
}
textarea{
    width: 99%;
    padding-top: 20px;
    height: 157px;
}
input[type=submit]{
    text-align: center;
    padding-left: unset;
    background: #ffa801;
    color: #082740;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .4s ease;
    font-weight: 700;

}
input[type=submit]:hover{
    background: #40B9EB;
    color:white
}
.content-contact .map{
    margin-top: 50px;
}
@media(max-width:700px){
    .content-contact input,textarea{
        width: 100%;
    }
}